miss  ipv6 address when passt interface

according to the document https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/#passt , the passt supports IPv6 out of the box , and no need to configuring IPv6 manually.

but in my cluster with kubevirt v1.0.0 and dual-stack CNI, the VM with passt interface does not assign the ipv6 address

```
cat <<EOF | kubectl apply -f -
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: vm-passthrough
spec:
  running: true
  template:
    spec:
      domain:
        devices:
          disks:
          - disk:
              bus: virtio
            name: containerdisk
          - disk:
              bus: virtio
            name: cloudinitdisk
          interfaces:
          - passt: {}
            name: red
          rng: {}
        resources:
          requests:
            memory: 1024M
      networks:
      - name: red
        pod: {}
      terminationGracePeriodSeconds: 0
      volumes:
      - containerDisk:
          image: kubevirt/fedora-with-test-tooling-container-disk:devel
        name: containerdisk
      - name: cloudinitdisk
        cloudInitNoCloud:
          userData: |-
            #!/bin/bash
            echo "fedora" |passwd fedora --stdin
EOF
```

in the VM , just got ipv4 address (172.19.0.102/16)
```
~# virtctl console vm-passthrough-macvlan1
Successfully connected to vm-passthrough-macvlan1 console. The escape sequence is ^]
[fedora@vm-passthrough-macvlan1 ~]$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 65520 qdisc fq_codel state UP group default qlen 1000
    link/ether 52:54:00:12:34:56 brd ff:ff:ff:ff:ff:ff
    altname enp3s0
    inet 172.19.0.102/16 brd 172.19.255.255 scope global noprefixroute eth0
       valid_lft forever preferred_lft forever
    inet6 fe80::5054:ff:fe12:3456/64 scope link
       valid_lft forever preferred_lft forever
```

the corresponding launcher pod , there is ipv4(172.19.0.102/16) and ipv6(fc00:f853:ccd:e793::140/64) address assinged by the CNI. 
```
$ virt-launcher-vm-passthrough-macvlan1-5bkwn bashr-vm-passthrough-macvlan1-5bkwn
kubectl exec [POD] [COMMAND] is DEPRECATED and will be removed in a future version. Use kubectl exec [POD] -- [COMMAND] instead.
bash-5.1$
bash-5.1$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: tunl0@NONE: <NOARP> mtu 1480 qdisc noop state DOWN group default qlen 1000
    link/ipip 0.0.0.0 brd 0.0.0.0
3: eth0@if13: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default
    link/ether 7a:64:93:ee:de:a3 brd ff:ff:ff:ff:ff:ff link-netnsid 0
    inet 172.19.0.102/16 brd 172.19.255.255 scope global eth0
       valid_lft forever preferred_lft forever
    inet6 fc00:f853:ccd:e793::140/64 scope global
       valid_lft forever preferred_lft forever
    inet6 fe80::7864:93ff:feee:dea3/64 scope link
       valid_lft forever preferred_lft forever
4: veth0@if21: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default
    link/ether be:ee:2d:a7:37:01 brd ff:ff:ff:ff:ff:ff link-netnsid 0
    inet6 fe80::bcee:2dff:fea7:3701/64 scope link
       valid_lft forever preferred_lft forever
```

I tested it with calico and underlay CNI , the result is same.

according to my understanding, if the CNI assigns dual-stack IP to the launcher pod,  the ipv6 address of launcher pod will be copied to the VM interface ?




/sig network 
@EdDev @AlonaKaplan 

> @weizhoublue thanks for the bug report. Can you please attach the virt-launcher compute container log?

```
{"component":"virt-launcher","level":"info","msg":"Collected all requested hook sidecar sockets","pos":"manager.go:86","timestamp":"2023-08-04T12:36:07.331922Z"}
{"component":"virt-launcher","level":"info","msg":"Sorted all collected sidecar sockets per hook point based on their priority and name: map[]","pos":"manager.go:89","timestamp":"2023-08-04T12:36:07.331975Z"}
{"component":"virt-launcher","level":"info","msg":"Connecting to libvirt daemon: qemu+unix:///session?socket=/var/run/libvirt/virtqemud-sock","pos":"libvirt.go:524","timestamp":"2023-08-04T12:36:07.332572Z"}
{"component":"virt-launcher","level":"info","msg":"Connecting to libvirt daemon failed: virError(Code=38, Domain=7, Message='Failed to connect socket to '/var/run/libvirt/virtqemud-sock': No such file or directory')","pos":"libvirt.go:532","timestamp":"2023-08-04T12:36:07.334882Z"}
{"component":"virt-launcher","level":"info","msg":"libvirt version: 9.0.0, package: 3.el9 (builder@centos.org, 2023-02-01-12:58:56, )","subcomponent":"libvirt","thread":"52","timestamp":"2023-08-04T12:36:07.356000Z"}
{"component":"virt-launcher","level":"info","msg":"hostname: vm-passthrough-macvlan1","subcomponent":"libvirt","thread":"52","timestamp":"2023-08-04T12:36:07.356000Z"}
{"component":"virt-launcher","level":"error","msg":"Unable to open /dev/kvm: Permission denied","pos":"virHostCPUGetCPUID:1422","subcomponent":"libvirt","thread":"52","timestamp":"2023-08-04T12:36:07.356000Z"}
{"component":"virt-launcher","level":"error","msg":"internal error: Unable to get session bus connection: Cannot spawn a message bus without a machine-id: Unable to load /var/lib/dbus/machine-id or /etc/machine-id: Failed to open file “/var/lib/dbus/machine-id”: No such file or directory","pos":"virGDBusGetSessionBus:126","subcomponent":"libvirt","thread":"52","timestamp":"2023-08-04T12:36:07.357000Z"}
{"component":"virt-launcher","level":"error","msg":"internal error: Unable to get system bus connection: Could not connect: No such file or directory","pos":"virGDBusGetSystemBus:99","subcomponent":"libvirt","thread":"52","timestamp":"2023-08-04T12:36:07.357000Z"}
{"component":"virt-launcher","level":"info","msg":"Connected to libvirt daemon","pos":"libvirt.go:540","timestamp":"2023-08-04T12:36:07.838540Z"}
{"component":"virt-launcher","level":"info","msg":"Registered libvirt event notify callback","pos":"client.go:539","timestamp":"2023-08-04T12:36:07.843717Z"}
{"component":"virt-launcher","level":"info","msg":"Marked as ready","pos":"virt-launcher.go:75","timestamp":"2023-08-04T12:36:07.844186Z"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Executing PreStartHook on VMI pod environment","name":"vm-passthrough-macvlan1","namespace":"default","pos":"manager.go:623","timestamp":"2023-08-04T12:36:22.314763Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Starting PreCloudInitIso hook","name":"vm-passthrough-macvlan1","namespace":"default","pos":"manager.go:644","timestamp":"2023-08-04T12:36:22.314851Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 36 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078376Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Outbound interface (IPv4): eth0","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078471Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 36 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078497Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Outbound interface (IPv6): eth0","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078518Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 9 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078538Z"}
{"component":"virt-launcher","level":"info","msg":"passt: MAC:","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078564Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 32 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078584Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     host: 7a:64:93:ee:de:a3","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078604Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 10 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078626Z"}
{"component":"virt-launcher","level":"info","msg":"passt: DHCP:","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078667Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 29 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078687Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     assign: 172.19.0.102","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078709Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 26 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078732Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     mask: 255.255.0.0","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078753Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 27 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078772Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     router: 172.19.0.2","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078796Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 9 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078814Z"}
{"component":"virt-launcher","level":"info","msg":"passt: DNS:","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078834Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 20 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078854Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     172.41.0.10","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078873Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 21 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078894Z"}
{"component":"virt-launcher","level":"info","msg":"passt: DNS search list:","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078921Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 34 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078939Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     default.svc.cluster.local","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078959Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 26 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.078980Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     svc.cluster.local","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079000Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 22 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079023Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     cluster.local","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079041Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 16 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079061Z"}
{"component":"virt-launcher","level":"info","msg":"passt: NDP/DHCPv6:","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079082Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 40 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079102Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     assign: fc00:f853:ccd:e793::140","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079126Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 38 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079145Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     router: fc00:f853:ccd:e793::3","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079166Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 50 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079190Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     our link-local: fe80::7864:93ff:feee:dea3","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079210Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 21 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079236Z"}
{"component":"virt-launcher","level":"info","msg":"passt: DNS search list:","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079258Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 34 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079302Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     default.svc.cluster.local","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079327Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 26 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079347Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     svc.cluster.local","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079379Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 22 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079399Z"}
{"component":"virt-launcher","level":"info","msg":"passt:     cluster.local","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.079418Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 53 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.081012Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 63 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.081046Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 124 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.081067Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 40 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.081100Z"}
{"component":"virt-launcher","level":"info","msg":"passt: Failed to send 64 bytes to syslog","pos":"generators.go:340","timestamp":"2023-08-04T12:36:23.081120Z"}
{"component":"virt-launcher","level":"info","msg":"Driver cache mode for /var/run/kubevirt-ephemeral-disks/disk-data/containerdisk/disk.qcow2 set to none","pos":"converter.go:468","timestamp":"2023-08-04T12:36:23.158348Z"}
{"component":"virt-launcher","level":"info","msg":"Driver cache mode for /var/run/kubevirt-ephemeral-disks/cloud-init-data/default/vm-passthrough-macvlan1/noCloud.iso set to none","pos":"converter.go:468","timestamp":"2023-08-04T12:36:23.167638Z"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Domain XML generated. Base64 dump PGRvbWFpbiB0eXBlPSJrdm0iIHhtbG5zOnFlbXU9Imh0dHA6Ly9saWJ2aXJ0Lm9yZy9zY2hlbWFzL2RvbWFpbi9xZW11LzEuMCI+Cgk8bmFtZT5kZWZhdWx0X3ZtLXBhc3N0aHJvdWdoLW1hY3ZsYW4xPC9uYW1lPgoJPG1lbW9yeSB1bml0PSJiIj4xMDI0MDAwMDAwPC9tZW1vcnk+Cgk8b3M+CgkJPHR5cGUgYXJjaD0ieDg2XzY0IiBtYWNoaW5lPSJxMzUiPmh2bTwvdHlwZT4KCQk8c21iaW9zIG1vZGU9InN5c2luZm8iPjwvc21iaW9zPgoJPC9vcz4KCTxzeXNpbmZvIHR5cGU9InNtYmlvcyI+CgkJPHN5c3RlbT4KCQkJPGVudHJ5IG5hbWU9InV1aWQiPjA4MDk2MmJmLTgyZDEtNTIxNi05ZDg4LTE4YWQ2MjkwNGNmNTwvZW50cnk+CgkJCTxlbnRyeSBuYW1lPSJtYW51ZmFjdHVyZXIiPkt1YmVWaXJ0PC9lbnRyeT4KCQkJPGVudHJ5IG5hbWU9ImZhbWlseSI+S3ViZVZpcnQ8L2VudHJ5PgoJCQk8ZW50cnkgbmFtZT0icHJvZHVjdCI+Tm9uZTwvZW50cnk+CgkJCTxlbnRyeSBuYW1lPSJza3UiPjwvZW50cnk+CgkJCTxlbnRyeSBuYW1lPSJ2ZXJzaW9uIj48L2VudHJ5PgoJCTwvc3lzdGVtPgoJCTxiaW9zPjwvYmlvcz4KCQk8YmFzZUJvYXJkPjwvYmFzZUJvYXJkPgoJCTxjaGFzc2lzPjwvY2hhc3Npcz4KCTwvc3lzaW5mbz4KCTxkZXZpY2VzPgoJCTxlbXVsYXRvcj4vdXNyL2Jpbi9xcmFwPC9lbXVsYXRvcj4KCQk8aW50ZXJmYWNlIHR5cGU9ImV0aGVybmV0Ij4KCQkJPHNvdXJjZT48L3NvdXJjZT4KCQkJPHRhcmdldCBkZXY9InBsYWNlaG9sZGVyLTAiIG1hbmFnZWQ9Im5vIj48L3RhcmdldD4KCQkJPG1vZGVsIHR5cGU9InZpcnRpby1ub24tdHJhbnNpdGlvbmFsIj48L21vZGVsPgoJCTwvaW50ZXJmYWNlPgoJCTxpbnRlcmZhY2UgdHlwZT0iZXRoZXJuZXQiPgoJCQk8c291cmNlPjwvc291cmNlPgoJCQk8dGFyZ2V0IGRldj0icGxhY2Vob2xkZXItMSIgbWFuYWdlZD0ibm8iPjwvdGFyZ2V0PgoJCQk8bW9kZWwgdHlwZT0idmlydGlvLW5vbi10cmFuc2l0aW9uYWwiPjwvbW9kZWw+CgkJPC9pbnRlcmZhY2U+CgkJPGludGVyZmFjZSB0eXBlPSJldGhlcm5ldCI+CgkJCTxzb3VyY2U+PC9zb3VyY2U+CgkJCTx0YXJnZXQgZGV2PSJwbGFjZWhvbGRlci0yIiBtYW5hZ2VkPSJubyI+PC90YXJnZXQ+CgkJCTxtb2RlbCB0eXBlPSJ2aXJ0aW8tbm9uLXRyYW5zaXRpb25hbCI+PC9tb2RlbD4KCQk8L2ludGVyZmFjZT4KCQk8Y2hhbm5lbCB0eXBlPSJ1bml4Ij4KCQkJPHRhcmdldCBuYW1lPSJvcmcucWVtdS5ndWVzdF9hZ2VudC4wIiB0eXBlPSJ2aXJ0aW8iPjwvdGFyZ2V0PgoJCTwvY2hhbm5lbD4KCQk8Y29udHJvbGxlciB0eXBlPSJ1c2IiIGluZGV4PSIwIiBtb2RlbD0ibm9uZSI+PC9jb250cm9sbGVyPgoJCTxjb250cm9sbGVyIHR5cGU9InNjc2kiIGluZGV4PSIwIiBtb2RlbD0idmlydGlvLW5vbi10cmFuc2l0aW9uYWwiPjwvY29udHJvbGxlcj4KCQk8Y29udHJvbGxlciB0eXBlPSJ2aXJ0aW8tc2VyaWFsIiBpbmRleD0iMCIgbW9kZWw9InZpcnRpby1ub24tdHJhbnNpdGlvbmFsIj48L2NvbnRyb2xsZXI+CgkJPHZpZGVvPgoJCQk8bW9kZWwgdHlwZT0idmdhIiBoZWFkcz0iMSIgdnJhbT0iMTYzODQiPjwvbW9kZWw+CgkJPC92aWRlbz4KCQk8Z3JhcGhpY3MgdHlwZT0idm5jIj4KCQkJPGxpc3RlbiB0eXBlPSJzb2NrZXQiIHNvY2tldD0iL3Zhci9ydW4va3ViZXZpcnQtcHJpdmF0ZS9lZTI2Mjk4Ny0wNTE3LTQ1ZTQtODk4ZS0xNTJkMzI3ODI5MjIvdmlydC12bmMiPjwvbGlzdGVuPgoJCTwvZ3JhcGhpY3M+CgkJPG1lbWJhbGxvb24gbW9kZWw9InZpcnRpby1ub24tdHJhbnNpdGlvbmFsIiBmcmVlUGFnZVJlcG9ydGluZz0ib24iPgoJCQk8c3RhdHMgcGVyaW9kPSIxMCI+PC9zdGF0cz4KCQk8L21lbWJhbGxvb24+CgkJPGRpc2sgZGV2aWNlPSJkaXNrIiB0eXBlPSJmaWxlIiBtb2RlbD0idmlydGlvLW5vbi10cmFuc2l0aW9uYWwiPgoJCQk8c291cmNlIGZpbGU9Ii92YXIvcnVuL2t1YmV2aXJ0LWVwaGVtZXJhbC1kaXNrcy9kaXNrLWRhdGEvY29udGFpbmVyZGlzay9kaXNrLnFjb3cyIj48L3NvdXJjZT4KCQkJPHRhcmdldCBidXM9InZpcnRpbyIgZGV2PSJ2ZGEiPjwvdGFyZ2V0PgoJCQk8ZHJpdmVyIGNhY2hlPSJub25lIiBlcnJvcl9wb2xpY3k9InN0b3AiIG5hbWU9InFlbXUiIHR5cGU9InFjb3cyIiBkaXNjYXJkPSJ1bm1hcCI+PC9kcml2ZXI+CgkJCTxhbGlhcyBuYW1lPSJ1YS1jb250YWluZXJkaXNrIj48L2FsaWFzPgoJCQk8YmFja2luZ1N0b3JlIHR5cGU9ImZpbGUiPgoJCQkJPGZvcm1hdCB0eXBlPSJxY293MiI+PC9mb3JtYXQ+CgkJCQk8c291cmNlIGZpbGU9Ii92YXIvcnVuL2t1YmV2aXJ0L2NvbnRhaW5lci1kaXNrcy9kaXNrXzAuaW1nIj48L3NvdXJjZT4KCQkJPC9iYWNraW5nU3RvcmU+CgkJPC9kaXNrPgoJCTxkaXNrIGRldmljZT0iZGlzayIgdHlwZT0iZmlsZSIgbW9kZWw9InZpcnRpby1ub24tdHJhbnNpdGlvbmFsIj4KCQkJPHNvdXJjZSBmaWxlPSIvdmFyL3J1bi9rdWJldmlydC1lcGhlbWVyYWwtZGlza3MvY2xvdWQtaW5pdC1kYXRhL2RlZmF1bHQvdm0tcGFzc3Rocm91Z2gtbWFjdmxhbjEvbm9DbG91ZC5pc28iPjwvc291cmNlPgoJCQk8dGFyZ2V0IGJ1cz0idmlydGlvIiBkZXY9InZkYiI+PC90YXJnZXQ+CgkJCTxkcml2ZXIgY2FjaGU9Im5vbmUiIGVycm9yX3BvbGljeT0ic3RvcCIgbmFtZT0icWVtdSIgdHlwZT0icmF3IiBkaXNjYXJkPSJ1bm1hcCI+PC9kcml2ZXI+CgkJCTxhbGlhcyBuYW1lPSJ1YS1jbG91ZGluaXRkaXNrIj48L2FsaWFzPgoJCTwvZGlzaz4KCQk8c2VyaWFsIHR5cGU9InVuaXgiPgoJCQk8dGFyZ2V0IHBvcnQ9IjAiPjwvdGFyZ2V0PgoJCQk8c291cmNlIG1vZGU9ImJpbmQiIHBhdGg9Ii92YXIvcnVuL2t1YmV2aXJ0LXByaXZhdGUvZWUyNjI5ODctMDUxNy00NWU0LTg5OGUtMTUyZDMyNzgyOTIyL3ZpcnQtc2VyaWFsMCI+PC9zb3VyY2U+CgkJPC9zZXJpYWw+CgkJPGNvbnNvbGUgdHlwZT0icHR5Ij4KCQkJPHRhcmdldCB0eXBlPSJzZXJpYWwiIHBvcnQ9IjAiPjwvdGFyZ2V0PgoJCTwvY29uc29sZT4KCQk8cm5nIG1vZGVsPSJ2aXJ0aW8tbm9uLXRyYW5zaXRpb25hbCI+CgkJCTxiYWNrZW5kIG1vZGVsPSJyYW5kb20iPi9kZXYvdXJhbmRvbTwvYmFja2VuZD4KCQk8L3JuZz4KCTwvZGV2aWNlcz4KCTxtZXRhZGF0YT4KCQk8a3ViZXZpcnQgeG1sbnM9Imh0dHA6Ly9rdWJldmlydC5pbyI+CgkJCTx1aWQ+PC91aWQ+CgkJPC9rdWJldmlydD4KCTwvbWV0YWRhdGE+Cgk8ZmVhdHVyZXM+CgkJPGFjcGk+PC9hY3BpPgoJPC9mZWF0dXJlcz4KCTxjcHUgbW9kZT0iaG9zdC1tb2RlbCI+CgkJPHRvcG9sb2d5IHNvY2tldHM9IjEiIGNvcmVzPSIxIiB0aHJlYWRzPSIxIj48L3RvcG9sb2d5PgoJPC9jcHU+Cgk8dmNwdSBwbGFjZW1lbnQ9InN0YXRpYyI+MTwvdmNwdT4KCTxpb3RocmVhZHM+MTwvaW90aHJlYWRzPgo8L2RvbWFpbj4=","name":"vm-passthrough-macvlan1","namespace":"default","pos":"libvirt_helper.go:133","timestamp":"2023-08-04T12:36:23.177880Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher-monitor","level":"info","msg":"Reaped pid 74 with status 0","pos":"virt-launcher-monitor.go:125","timestamp":"2023-08-04T12:36:23.220698Z"}
{"component":"virt-launcher-monitor","level":"info","msg":"Reaped pid 76 with status 0","pos":"virt-launcher-monitor.go:125","timestamp":"2023-08-04T12:36:23.421993Z"}
{"component":"virt-launcher-monitor","level":"info","msg":"Reaped pid 82 with status 0","pos":"virt-launcher-monitor.go:125","timestamp":"2023-08-04T12:36:23.645657Z"}
{"component":"virt-launcher-monitor","level":"info","msg":"Reaped pid 84 with status 0","pos":"virt-launcher-monitor.go:125","timestamp":"2023-08-04T12:36:23.695315Z"}
{"component":"virt-launcher","level":"info","msg":"DomainLifecycle event Domain event=\"defined\" detail=\"added\" with event id 0 reason 0 received","pos":"client.go:465","timestamp":"2023-08-04T12:36:24.042234Z"}
{"component":"virt-launcher","level":"info","msg":"kubevirt domain status: Shutoff(5):Unknown(0)","pos":"client.go:296","timestamp":"2023-08-04T12:36:24.045837Z"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Domain XML generated. Base64 dump PGRvbWFpbiB0eXBlPSJrdm0iIHhtbG5zOnFlbXU9Imh0dHA6Ly9saWJ2aXJ0Lm9yZy9zY2hlbWFzL2RvbWFpbi9xZW11LzEuMCI+Cgk8bmFtZT5kZWZhdWx0X3ZtLXBhc3N0aHJvdWdoLW1hY3ZsYW4xPC9uYW1lPgoJPG1lbW9yeSB1bml0PSJiIj4xMDI0MDAwMDAwPC9tZW1vcnk+Cgk8b3M+CgkJPHR5cGUgYXJjaD0ieDg2XzY0IiBtYWNoaW5lPSJxMzUiPmh2bTwvdHlwZT4KCQk8c21iaW9zIG1vZGU9InN5c2luZm8iPjwvc21iaW9zPgoJPC9vcz4KCTxzeXNpbmZvIHR5cGU9InNtYmlvcyI+CgkJPHN5c3RlbT4KCQkJPGVudHJ5IG5hbWU9InV1aWQiPjA4MDk2MmJmLTgyZDEtNTIxNi05ZDg4LTE4YWQ2MjkwNGNmNTwvZW50cnk+CgkJCTxlbnRyeSBuYW1lPSJtYW51ZmFjdHVyZXIiPkt1YmVWaXJ0PC9lbnRyeT4KCQkJPGVudHJ5IG5hbWU9ImZhbWlseSI+S3ViZVZpcnQ8L2VudHJ5PgoJCQk8ZW50cnkgbmFtZT0icHJvZHVjdCI+Tm9uZTwvZW50cnk+CgkJCTxlbnRyeSBuYW1lPSJza3UiPjwvZW50cnk+CgkJCTxlbnRyeSBuYW1lPSJ2ZXJzaW9uIj48L2VudHJ5PgoJCTwvc3lzdGVtPgoJCTxiaW9zPjwvYmlvcz4KCQk8YmFzZUJvYXJkPjwvYmFzZUJvYXJkPgoJCTxjaGFzc2lzPjwvY2hhc3Npcz4KCTwvc3lzaW5mbz4KCTxkZXZpY2VzPgoJCTxlbXVsYXRvcj4vdXNyL2Jpbi9xcmFwPC9lbXVsYXRvcj4KCQk8Y2hhbm5lbCB0eXBlPSJ1bml4Ij4KCQkJPHRhcmdldCBuYW1lPSJvcmcucWVtdS5ndWVzdF9hZ2VudC4wIiB0eXBlPSJ2aXJ0aW8iPjwvdGFyZ2V0PgoJCTwvY2hhbm5lbD4KCQk8Y29udHJvbGxlciB0eXBlPSJ1c2IiIGluZGV4PSIwIiBtb2RlbD0ibm9uZSI+PC9jb250cm9sbGVyPgoJCTxjb250cm9sbGVyIHR5cGU9InNjc2kiIGluZGV4PSIwIiBtb2RlbD0idmlydGlvLW5vbi10cmFuc2l0aW9uYWwiPgoJCQk8YWRkcmVzcyB0eXBlPSJwY2kiIGRvbWFpbj0iMHgwMDAwIiBidXM9IjB4MDQiIHNsb3Q9IjB4MDAiIGZ1bmN0aW9uPSIweDAiPjwvYWRkcmVzcz4KCQk8L2NvbnRyb2xsZXI+CgkJPGNvbnRyb2xsZXIgdHlwZT0idmlydGlvLXNlcmlhbCIgaW5kZXg9IjAiIG1vZGVsPSJ2aXJ0aW8tbm9uLXRyYW5zaXRpb25hbCI+CgkJCTxhZGRyZXNzIHR5cGU9InBjaSIgZG9tYWluPSIweDAwMDAiIGJ1cz0iMHgwNSIgc2xvdD0iMHgwMCIgZnVuY3Rpb249IjB4MCI+PC9hZGRyZXNzPgoJCTwvY29udHJvbGxlcj4KCQk8Y29udHJvbGxlciB0eXBlPSJzYXRhIiBpbmRleD0iMCI+CgkJCTxhZGRyZXNzIHR5cGU9InBjaSIgZG9tYWluPSIweDAwMDAiIGJ1cz0iMHgwMCIgc2xvdD0iMHgxZiIgZnVuY3Rpb249IjB4MiI+PC9hZGRyZXNzPgoJCTwvY29udHJvbGxlcj4KCQk8Y29udHJvbGxlciB0eXBlPSJwY2kiIGluZGV4PSIwIiBtb2RlbD0icGNpZS1yb290Ij48L2NvbnRyb2xsZXI+CgkJPGNvbnRyb2xsZXIgdHlwZT0icGNpIiBpbmRleD0iMSIgbW9kZWw9InBjaWUtcm9vdC1wb3J0Ij4KCQkJPGFkZHJlc3MgdHlwZT0icGNpIiBkb21haW49IjB4MDAwMCIgYnVzPSIweDAwIiBzbG90PSIweDAyIiBmdW5jdGlvbj0iMHgwIj48L2FkZHJlc3M+CgkJPC9jb250cm9sbGVyPgoJCTxjb250cm9sbGVyIHR5cGU9InBjaSIgaW5kZXg9IjIiIG1vZGVsPSJwY2llLXJvb3QtcG9ydCI+CgkJCTxhZGRyZXNzIHR5cGU9InBjaSIgZG9tYWluPSIweDAwMDAiIGJ1cz0iMHgwMCIgc2xvdD0iMHgwMiIgZnVuY3Rpb249IjB4MSI+PC9hZGRyZXNzPgoJCTwvY29udHJvbGxlcj4KCQk8Y29udHJvbGxlciB0eXBlPSJwY2kiIGluZGV4PSIzIiBtb2RlbD0icGNpZS1yb290LXBvcnQiPgoJCQk8YWRkcmVzcyB0eXBlPSJwY2kiIGRvbWFpbj0iMHgwMDAwIiBidXM9IjB4MDAiIHNsb3Q9IjB4MDIiIGZ1bmN0aW9uPSIweDIiPjwvYWRkcmVzcz4KCQk8L2NvbnRyb2xsZXI+CgkJPGNvbnRyb2xsZXIgdHlwZT0icGNpIiBpbmRleD0iNCIgbW9kZWw9InBjaWUtcm9vdC1wb3J0Ij4KCQkJPGFkZHJlc3MgdHlwZT0icGNpIiBkb21haW49IjB4MDAwMCIgYnVzPSIweDAwIiBzbG90PSIweDAyIiBmdW5jdGlvbj0iMHgzIj48L2FkZHJlc3M+CgkJPC9jb250cm9sbGVyPgoJCTxjb250cm9sbGVyIHR5cGU9InBjaSIgaW5kZXg9IjUiIG1vZGVsPSJwY2llLXJvb3QtcG9ydCI+CgkJCTxhZGRyZXNzIHR5cGU9InBjaSIgZG9tYWluPSIweDAwMDAiIGJ1cz0iMHgwMCIgc2xvdD0iMHgwMiIgZnVuY3Rpb249IjB4NCI+PC9hZGRyZXNzPgoJCTwvY29udHJvbGxlcj4KCQk8Y29udHJvbGxlciB0eXBlPSJwY2kiIGluZGV4PSI2IiBtb2RlbD0icGNpZS1yb290LXBvcnQiPgoJCQk8YWRkcmVzcyB0eXBlPSJwY2kiIGRvbWFpbj0iMHgwMDAwIiBidXM9IjB4MDAiIHNsb3Q9IjB4MDIiIGZ1bmN0aW9uPSIweDUiPjwvYWRkcmVzcz4KCQk8L2NvbnRyb2xsZXI+CgkJPGNvbnRyb2xsZXIgdHlwZT0icGNpIiBpbmRleD0iNyIgbW9kZWw9InBjaWUtcm9vdC1wb3J0Ij4KCQkJPGFkZHJlc3MgdHlwZT0icGNpIiBkb21haW49IjB4MDAwMCIgYnVzPSIweDAwIiBzbG90PSIweDAyIiBmdW5jdGlvbj0iMHg2Ij48L2FkZHJlc3M+CgkJPC9jb250cm9sbGVyPgoJCTxjb250cm9sbGVyIHR5cGU9InBjaSIgaW5kZXg9IjgiIG1vZGVsPSJwY2llLXJvb3QtcG9ydCI+CgkJCTxhZGRyZXNzIHR5cGU9InBjaSIgZG9tYWluPSIweDAwMDAiIGJ1cz0iMHgwMCIgc2xvdD0iMHgwMiIgZnVuY3Rpb249IjB4NyI+PC9hZGRyZXNzPgoJCTwvY29udHJvbGxlcj4KCQk8Y29udHJvbGxlciB0eXBlPSJwY2kiIGluZGV4PSI5IiBtb2RlbD0icGNpZS1yb290LXBvcnQiPgoJCQk8YWRkcmVzcyB0eXBlPSJwY2kiIGRvbWFpbj0iMHgwMDAwIiBidXM9IjB4MDAiIHNsb3Q9IjB4MDMiIGZ1bmN0aW9uPSIweDAiPjwvYWRkcmVzcz4KCQk8L2NvbnRyb2xsZXI+CgkJPGNvbnRyb2xsZXIgdHlwZT0icGNpIiBpbmRleD0iMTAiIG1vZGVsPSJwY2llLXJvb3QtcG9ydCI+CgkJCTxhZGRyZXNzIHR5cGU9InBjaSIgZG9tYWluPSIweDAwMDAiIGJ1cz0iMHgwMCIgc2xvdD0iMHgwMyIgZnVuY3Rpb249IjB4MSI+PC9hZGRyZXNzPgoJCTwvY29udHJvbGxlcj4KCQk8dmlkZW8+CgkJCTxtb2RlbCB0eXBlPSJ2Z2EiIGhlYWRzPSIxIiB2cmFtPSIxNjM4NCI+PC9tb2RlbD4KCQk8L3ZpZGVvPgoJCTxncmFwaGljcyB0eXBlPSJ2bmMiPgoJCQk8bGlzdGVuIHR5cGU9InNvY2tldCIgc29ja2V0PSIvdmFyL3J1bi9rdWJldmlydC1wcml2YXRlL2VlMjYyOTg3LTA1MTctNDVlNC04OThlLTE1MmQzMjc4MjkyMi92aXJ0LXZuYyI+PC9saXN0ZW4+CgkJPC9ncmFwaGljcz4KCQk8bWVtYmFsbG9vbiBtb2RlbD0idmlydGlvLW5vbi10cmFuc2l0aW9uYWwiIGZyZWVQYWdlUmVwb3J0aW5nPSJvbiI+CgkJCTxzdGF0cyBwZXJpb2Q9IjEwIj48L3N0YXRzPgoJCQk8YWRkcmVzcyB0eXBlPSJwY2kiIGRvbWFpbj0iMHgwMDAwIiBidXM9IjB4MDgiIHNsb3Q9IjB4MDAiIGZ1bmN0aW9uPSIweDAiPjwvYWRkcmVzcz4KCQk8L21lbWJhbGxvb24+CgkJPGRpc2sgZGV2aWNlPSJkaXNrIiB0eXBlPSJmaWxlIiBtb2RlbD0idmlydGlvLW5vbi10cmFuc2l0aW9uYWwiPgoJCQk8c291cmNlIGZpbGU9Ii92YXIvcnVuL2t1YmV2aXJ0LWVwaGVtZXJhbC1kaXNrcy9kaXNrLWRhdGEvY29udGFpbmVyZGlzay9kaXNrLnFjb3cyIj48L3NvdXJjZT4KCQkJPHRhcmdldCBidXM9InZpcnRpbyIgZGV2PSJ2ZGEiPjwvdGFyZ2V0PgoJCQk8ZHJpdmVyIGNhY2hlPSJub25lIiBlcnJvcl9wb2xpY3k9InN0b3AiIG5hbWU9InFlbXUiIHR5cGU9InFjb3cyIiBkaXNjYXJkPSJ1bm1hcCI+PC9kcml2ZXI+CgkJCTxhbGlhcyBuYW1lPSJ1YS1jb250YWluZXJkaXNrIj48L2FsaWFzPgoJCQk8YmFja2luZ1N0b3JlIHR5cGU9ImZpbGUiPgoJCQkJPGZvcm1hdCB0eXBlPSJxY293MiI+PC9mb3JtYXQ+CgkJCQk8c291cmNlIGZpbGU9Ii92YXIvcnVuL2t1YmV2aXJ0L2NvbnRhaW5lci1kaXNrcy9kaXNrXzAuaW1nIj48L3NvdXJjZT4KCQkJPC9iYWNraW5nU3RvcmU+CgkJCTxhZGRyZXNzIHR5cGU9InBjaSIgZG9tYWluPSIweDAwMDAiIGJ1cz0iMHgwNiIgc2xvdD0iMHgwMCIgZnVuY3Rpb249IjB4MCI+PC9hZGRyZXNzPgoJCTwvZGlzaz4KCQk8ZGlzayBkZXZpY2U9ImRpc2siIHR5cGU9ImZpbGUiIG1vZGVsPSJ2aXJ0aW8tbm9uLXRyYW5zaXRpb25hbCI+CgkJCTxzb3VyY2UgZmlsZT0iL3Zhci9ydW4va3ViZXZpcnQtZXBoZW1lcmFsLWRpc2tzL2Nsb3VkLWluaXQtZGF0YS9kZWZhdWx0L3ZtLXBhc3N0aHJvdWdoLW1hY3ZsYW4xL25vQ2xvdWQuaXNvIj48L3NvdXJjZT4KCQkJPHRhcmdldCBidXM9InZpcnRpbyIgZGV2PSJ2ZGIiPjwvdGFyZ2V0PgoJCQk8ZHJpdmVyIGNhY2hlPSJub25lIiBlcnJvcl9wb2xpY3k9InN0b3AiIG5hbWU9InFlbXUiIHR5cGU9InJhdyIgZGlzY2FyZD0idW5tYXAiPjwvZHJpdmVyPgoJCQk8YWxpYXMgbmFtZT0idWEtY2xvdWRpbml0ZGlzayI+PC9hbGlhcz4KCQkJPGFkZHJlc3MgdHlwZT0icGNpIiBkb21haW49IjB4MDAwMCIgYnVzPSIweDA3IiBzbG90PSIweDAwIiBmdW5jdGlvbj0iMHgwIj48L2FkZHJlc3M+CgkJPC9kaXNrPgoJCTxpbnB1dCB0eXBlPSJtb3VzZSIgYnVzPSJwczIiPjwvaW5wdXQ+CgkJPGlucHV0IHR5cGU9ImtleWJvYXJkIiBidXM9InBzMiI+PC9pbnB1dD4KCQk8c2VyaWFsIHR5cGU9InVuaXgiPgoJCQk8dGFyZ2V0IHBvcnQ9IjAiPjwvdGFyZ2V0PgoJCQk8c291cmNlIG1vZGU9ImJpbmQiIHBhdGg9Ii92YXIvcnVuL2t1YmV2aXJ0LXByaXZhdGUvZWUyNjI5ODctMDUxNy00NWU0LTg5OGUtMTUyZDMyNzgyOTIyL3ZpcnQtc2VyaWFsMCI+PC9zb3VyY2U+CgkJPC9zZXJpYWw+CgkJPGNvbnNvbGUgdHlwZT0idW5peCI+CgkJCTx0YXJnZXQgdHlwZT0ic2VyaWFsIiBwb3J0PSIwIj48L3RhcmdldD4KCQkJPHNvdXJjZSBtb2RlPSJiaW5kIiBwYXRoPSIvdmFyL3J1bi9rdWJldmlydC1wcml2YXRlL2VlMjYyOTg3LTA1MTctNDVlNC04OThlLTE1MmQzMjc4MjkyMi92aXJ0LXNlcmlhbDAiPjwvc291cmNlPgoJCTwvY29uc29sZT4KCQk8cm5nIG1vZGVsPSJ2aXJ0aW8tbm9uLXRyYW5zaXRpb25hbCI+CgkJCTxiYWNrZW5kIG1vZGVsPSJyYW5kb20iPi9kZXYvdXJhbmRvbTwvYmFja2VuZD4KCQkJPGFkZHJlc3MgdHlwZT0icGNpIiBkb21haW49IjB4MDAwMCIgYnVzPSIweDA5IiBzbG90PSIweDAwIiBmdW5jdGlvbj0iMHgwIj48L2FkZHJlc3M+CgkJPC9ybmc+Cgk8L2RldmljZXM+Cgk8bWV0YWRhdGE+CgkJPGt1YmV2aXJ0IHhtbG5zPSJodHRwOi8va3ViZXZpcnQuaW8iPgoJCQk8dWlkPjwvdWlkPgoJCTwva3ViZXZpcnQ+Cgk8L21ldGFkYXRhPgoJPGZlYXR1cmVzPgoJCTxhY3BpPjwvYWNwaT4KCTwvZmVhdHVyZXM+Cgk8Y3B1IG1vZGU9Imhvc3QtbW9kZWwiPgoJCTx0b3BvbG9neSBzb2NrZXRzPSIxIiBjb3Jlcz0iMSIgdGhyZWFkcz0iMSI+PC90b3BvbG9neT4KCTwvY3B1PgoJPHZjcHUgcGxhY2VtZW50PSJzdGF0aWMiPjE8L3ZjcHU+Cgk8aW90aHJlYWRzPjE8L2lvdGhyZWFkcz4KPC9kb21haW4+","name":"vm-passthrough-macvlan1","namespace":"default","pos":"libvirt_helper.go:133","timestamp":"2023-08-04T12:36:24.046411Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","level":"info","msg":"Successfully connected to domain notify socket at /var/run/kubevirt/domain-notify-pipe.sock","pos":"client.go:170","timestamp":"2023-08-04T12:36:24.050864Z"}
{"component":"virt-launcher","level":"info","msg":"Domain name event: default_vm-passthrough-macvlan1","pos":"client.go:423","timestamp":"2023-08-04T12:36:24.054348Z"}
{"component":"virt-launcher","level":"info","msg":"Monitoring loop: rate 1s start timeout 5m8s","pos":"monitor.go:181","timestamp":"2023-08-04T12:36:24.056727Z"}
{"component":"virt-launcher","level":"info","msg":"DomainLifecycle event Domain event=\"defined\" detail=\"updated\" with event id 0 reason 1 received","pos":"client.go:465","timestamp":"2023-08-04T12:36:24.128765Z"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Domain defined.","name":"vm-passthrough-macvlan1","namespace":"default","pos":"manager.go:1002","timestamp":"2023-08-04T12:36:24.128814Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","level":"info","msg":"kubevirt domain status: Shutoff(5):Unknown(0)","pos":"client.go:296","timestamp":"2023-08-04T12:36:24.131943Z"}
{"component":"virt-launcher","level":"info","msg":"Domain name event: default_vm-passthrough-macvlan1","pos":"client.go:423","timestamp":"2023-08-04T12:36:24.133653Z"}
{"component":"virt-launcher","level":"info","msg":"generated nocloud iso file /var/run/kubevirt-ephemeral-disks/cloud-init-data/default/vm-passthrough-macvlan1/noCloud.iso","pos":"cloud-init.go:674","timestamp":"2023-08-04T12:36:24.240504Z"}
{"component":"virt-launcher","level":"info","msg":"GuestAgentLifecycle event state 2 with reason 1 received","pos":"client.go:522","timestamp":"2023-08-04T12:36:24.381029Z"}
{"component":"virt-launcher","level":"info","msg":"kubevirt domain status: Paused(3):StartingUp(11)","pos":"client.go:296","timestamp":"2023-08-04T12:36:24.384856Z"}
{"component":"virt-launcher","level":"info","msg":"Domain name event: default_vm-passthrough-macvlan1","pos":"client.go:423","timestamp":"2023-08-04T12:36:24.386958Z"}
{"component":"virt-launcher","level":"info","msg":"DomainLifecycle event Domain event=\"resumed\" detail=\"unpaused\" with event id 4 reason 0 received","pos":"client.go:465","timestamp":"2023-08-04T12:36:24.681911Z"}
{"component":"virt-launcher","level":"info","msg":"DomainLifecycle event Domain event=\"started\" detail=\"booted\" with event id 2 reason 0 received","pos":"client.go:465","timestamp":"2023-08-04T12:36:24.684412Z"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Domain started.","name":"vm-passthrough-macvlan1","namespace":"default","pos":"manager.go:1030","timestamp":"2023-08-04T12:36:24.685836Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:36:24.688710Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","level":"info","msg":"kubevirt domain status: Running(1):Unknown(1)","pos":"client.go:296","timestamp":"2023-08-04T12:36:24.690294Z"}
{"component":"virt-launcher","level":"info","msg":"Domain name event: default_vm-passthrough-macvlan1","pos":"client.go:423","timestamp":"2023-08-04T12:36:24.693309Z"}
{"component":"virt-launcher","level":"info","msg":"kubevirt domain status: Running(1):Unknown(1)","pos":"client.go:296","timestamp":"2023-08-04T12:36:24.696483Z"}
{"component":"virt-launcher","level":"info","msg":"Domain name event: default_vm-passthrough-macvlan1","pos":"client.go:423","timestamp":"2023-08-04T12:36:24.698654Z"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:36:24.799457Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:36:24.853487Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:36:24.917678Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","level":"info","msg":"Found PID for default_vm-passthrough-macvlan1: 93","pos":"monitor.go:142","timestamp":"2023-08-04T12:36:25.057612Z"}
{"component":"virt-launcher","level":"warning","msg":"missing device in NIC_RX_FILTER_CHANGED event","pos":"qemuMonitorJSONHandleNicRxFilterChanged:1030","subcomponent":"libvirt","thread":"94","timestamp":"2023-08-04T12:36:37.610000Z"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:39:06.182484Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:44:06.187412Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:49:06.185799Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:54:06.186802Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T12:59:06.187434Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:04:06.184750Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:09:06.185483Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:14:06.185874Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:19:06.182951Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:24:06.186014Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:29:06.188629Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:34:06.185950Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:39:06.184654Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:44:06.187778Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:49:06.184362Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:54:06.184869Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T13:59:06.186311Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T14:04:06.184909Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T14:09:06.188028Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T14:14:06.185656Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T14:19:06.185628Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T14:24:06.186052Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T14:29:06.186850Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T14:34:06.187949Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
{"component":"virt-launcher","kind":"","level":"info","msg":"Synced vmi","name":"vm-passthrough-macvlan1","namespace":"default","pos":"server.go:208","timestamp":"2023-08-04T14:39:06.188679Z","uid":"ee262987-0517-45e4-898e-152d32782922"}
```

Thanks! Please also share `ip -6 route` and `journalctl` of the guest. Is there a chance dhcp6 client is not running on the guest?

do you mean it depand on the dhcp of the guest os ?

 
```
[fedora@vm-passthrough]$ ip -6 r
::1 dev lo proto kernel metric 256 pref medium
fe80::/64 dev eth0 proto kernel metric 256 pref medium


[fedora@vm-passthrough]$ systemctl status
● vm-passthrough
    State: degraded
     Jobs: 0 queued
   Failed: 1 units
    Since: Fri 2023-08-04 12:36:31 UTC; 4 days ago
   CGroup: /
           ├─user.slice
           │ └─user-1000.slice
           │   ├─user@1000.service
           │   │ └─init.scope
           │   │   ├─752 /usr/lib/systemd/systemd --user
           │   │   └─754 (sd-pam)
           │   └─session-1.scope
           │     ├─ 704 login -- fedora
           │     ├─ 760 -bash
           │     ├─6239 systemctl status
           │     └─6240 less
           ├─init.scope
           │ └─1 /usr/lib/systemd/systemd --switched-root --system --deserializ>
           └─system.slice
             ├─systemd-udevd.service
             │ └─512 /usr/lib/systemd/systemd-udevd
             ├─dbus-broker.service
             │ ├─571 /usr/bin/dbus-broker-launch --scope system --audit
             │ └─575 dbus-broker --log 4 --controller 9 --machine-id 080962bf82>
             ├─systemd-homed.service
             │ └─548 /usr/lib/systemd/systemd-homed
             ├─chronyd.service
             │ └─551 /usr/sbin/chronyd
             ├─auditd.service
             │ └─517 /sbin/auditd
             ├─systemd-journald.service
             │ └─501 /usr/lib/systemd/systemd-journald
             ├─sshd.service
             │ └─721 /usr/sbin/sshd -D -oCiphers=aes256-gcm@openssh.com,chacha2>
             ├─NetworkManager.service
             │ └─625 /usr/sbin/NetworkManager --no-daemon
             ├─systemd-userdbd.service
             │ ├─ 747 /usr/lib/systemd/systemd-userdbd
             │ ├─6236 systemd-userwork
             │ ├─6237 systemd-userwork
             │ └─6238 systemd-userwork
             ├─sssd.service
             │ ├─547 /usr/sbin/sssd -i --logger=files
             │ ├─556 /usr/libexec/sssd/sssd_be --domain implicit_files --uid 0 >
             │ └─557 /usr/libexec/sssd/sssd_nss --uid 0 --gid 0 --logger=files
             ├─system-getty.slice
             │ └─getty@tty1.service
             │   └─703 /sbin/agetty -o -p -- \u --noclear tty1 linux
             └─systemd-logind.service
               └─558 /usr/lib/systemd/systemd-logind


[fedora@vm-passthrough-macvlan1 ~]$ nmcli con show
NAME         UUID                                  TYPE      DEVICE
System eth0  5fb06bd0-0bb0-7ffb-45f1-d6edd65f3e03  ethernet  eth0

[fedora@vm-passthrough-]$ nmcli con show 'System eth0'
connection.id:                          System eth0
connection.uuid:                        5fb06bd0-0bb0-7ffb-45f1-d6edd65f3e03
connection.stable-id:                   --
connection.type:                        802-3-ethernet
connection.interface-name:              eth0
connection.autoconnect:                 yes
connection.autoconnect-priority:        0
connection.autoconnect-retries:         -1 (default)
connection.multi-connect:               0 (default)
connection.auth-retries:                -1
connection.timestamp:                   1691555197
connection.read-only:                   no
connection.permissions:                 --
connection.zone:                        --
connection.master:                      --
connection.slave-type:                  --
connection.autoconnect-slaves:          -1 (default)
connection.secondaries:                 --
connection.gateway-ping-timeout:        0
connection.metered:                     unknown
connection.lldp:                        default
connection.mdns:                        -1 (default)
connection.llmnr:                       -1 (default)
connection.wait-device-timeout:         -1
802-3-ethernet.port:                    --
802-3-ethernet.speed:                   0
802-3-ethernet.duplex:                  --
802-3-ethernet.auto-negotiate:          no
802-3-ethernet.mac-address:             52:54:00:12:34:56
802-3-ethernet.cloned-mac-address:      --
802-3-ethernet.generate-mac-address-mask:--
802-3-ethernet.mac-address-blacklist:   --
802-3-ethernet.mtu:                     auto
802-3-ethernet.s390-subchannels:        --
802-3-ethernet.s390-nettype:            --
802-3-ethernet.s390-options:            --
802-3-ethernet.wake-on-lan:             default
802-3-ethernet.wake-on-lan-password:    --
ipv4.method:                            auto
ipv4.dns:                               --
ipv4.dns-search:                        --
ipv4.dns-options:                       --
ipv4.dns-priority:                      0
ipv4.addresses:                         --
ipv4.gateway:                           --
ipv4.routes:                            --
ipv4.route-metric:                      -1
ipv4.route-table:                       0 (unspec)
ipv4.routing-rules:                     --
ipv4.ignore-auto-routes:                no
ipv4.ignore-auto-dns:                   no
ipv4.dhcp-client-id:                    --
ipv4.dhcp-iaid:                         --
ipv4.dhcp-timeout:                      0 (default)
ipv4.dhcp-send-hostname:                yes
ipv4.dhcp-hostname:                     --
ipv4.dhcp-fqdn:                         --
ipv4.dhcp-hostname-flags:               0x0 (none)
ipv4.never-default:                     no
ipv4.may-fail:                          yes
ipv4.dad-timeout:                       -1 (default)
ipv6.method:                            ignore
ipv6.dns:                               --
ipv6.dns-search:                        --
ipv6.dns-options:                       --
ipv6.dns-priority:                      0
ipv6.addresses:                         --
ipv6.gateway:                           --
ipv6.routes:                            --
ipv6.route-metric:                      -1
ipv6.route-table:                       0 (unspec)
ipv6.routing-rules:                     --
ipv6.ignore-auto-routes:                no
ipv6.ignore-auto-dns:                   no
ipv6.never-default:                     no
ipv6.may-fail:                          yes
ipv6.ip6-privacy:                       -1 (unknown)
ipv6.addr-gen-mode:                     stable-privacy
ipv6.ra-timeout:                        0 (default)
ipv6.dhcp-duid:                         --
ipv6.dhcp-iaid:                         --
ipv6.dhcp-timeout:                      0 (default)
ipv6.dhcp-send-hostname:                yes
ipv6.dhcp-hostname:                     --
ipv6.dhcp-hostname-flags:               0x0 (none)
ipv6.token:                             --
proxy.method:                           none
proxy.browser-only:                     no
proxy.pac-url:                          --
proxy.pac-script:                       --
GENERAL.NAME:                           System eth0
GENERAL.UUID:                           5fb06bd0-0bb0-7ffb-45f1-d6edd65f3e03
GENERAL.DEVICES:                        eth0
GENERAL.IP-IFACE:                       eth0
GENERAL.STATE:                          activated
GENERAL.DEFAULT:                        yes
GENERAL.DEFAULT6:                       yes
GENERAL.SPEC-OBJECT:                    --
GENERAL.VPN:                            no
GENERAL.DBUS-PATH:                      /org/freedesktop/NetworkManager/ActiveC>
GENERAL.CON-PATH:                       /org/freedesktop/NetworkManager/Setting>
GENERAL.ZONE:                           --
GENERAL.MASTER-PATH:                    --
IP4.ADDRESS[1]:                         172.19.0.102/16
IP4.GATEWAY:                            172.19.0.2
IP4.ROUTE[1]:                           dst = 0.0.0.0/0, nh = 172.19.0.2, mt = >
IP4.ROUTE[2]:                           dst = 172.19.0.0/16, nh = 0.0.0.0, mt =>
IP4.DNS[1]:                             172.41.0.10
DHCP4.OPTION[1]:                        dhcp_lease_time = 4294967295
DHCP4.OPTION[2]:                        domain_name_servers = 172.41.0.10
DHCP4.OPTION[3]:                        domain_search = default.svc.cluster.loc>
DHCP4.OPTION[4]:                        interface_mtu = 65520
DHCP4.OPTION[5]:                        ip_address = 172.19.0.102
DHCP4.OPTION[6]:                        requested_broadcast_address = 1
DHCP4.OPTION[7]:                        requested_domain_name = 1
DHCP4.OPTION[8]:                        requested_domain_name_servers = 1
DHCP4.OPTION[9]:                        requested_domain_search = 1
DHCP4.OPTION[10]:                       requested_host_name = 1
DHCP4.OPTION[11]:                       requested_interface_mtu = 1
DHCP4.OPTION[12]:                       requested_ms_classless_static_routes = 1
DHCP4.OPTION[13]:                       requested_nis_domain = 1
DHCP4.OPTION[14]:                       requested_nis_servers = 1
DHCP4.OPTION[15]:                       requested_ntp_servers = 1
DHCP4.OPTION[16]:                       requested_rfc3442_classless_static_rout>
DHCP4.OPTION[17]:                       requested_root_path = 1
DHCP4.OPTION[18]:                       requested_routers = 1
DHCP4.OPTION[19]:                       requested_static_routes = 1
DHCP4.OPTION[20]:                       requested_subnet_mask = 1
DHCP4.OPTION[21]:                       requested_time_offset = 1
DHCP4.OPTION[22]:                       requested_wpad = 1
DHCP4.OPTION[23]:                       routers = 172.19.0.2
DHCP4.OPTION[24]:                       subnet_mask = 255.255.0.0
IP6.ADDRESS[1]:                         fe80::5054:ff:fe12:3456/64
IP6.GATEWAY:                            --
IP6.ROUTE[1]:                           dst = fe80::/64, nh = ::, mt = 256
IP6.ROUTE[2]:                           dst = ff00::/8, nh = ::, mt = 256, tabl>

```

the default connection set ipv6.method to be ignore.
does it need to turn of dhcp for the connection ?

I turn on the  dhcp and the interface got wrong CIDR length , fc00:f853:ccd:e793::140/128 compared with virt-launcher  pod ( fc00:f853:ccd:e793::140/64 ) , and miss ipv6 default route in the VM

```

[fedora@vm-passthrough-macvlan1 ~]$ nmcli con show
NAME         UUID                                  TYPE      DEVICE
System eth0  5fb06bd0-0bb0-7ffb-45f1-d6edd65f3e03  ethernet  eth0

[fedora@vm-passthrough-macvlan1 ~]$ sudo nmcli con mod 5fb06bd0-0bb0-7ffb-45f1-d6edd65f3e03  ipv6.method dhcp       ip a

[fedora@vm-passthrough-macvlan1 ~]$ sudo nmcli con up 5fb06bd0-0bb0-7ffb-45f1-d6edd65f3e03

[fedora@vm-passthrough-macvlan1 ~]$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 65520 qdisc fq_codel state UP group default qlen 1000
    link/ether 52:54:00:12:34:56 brd ff:ff:ff:ff:ff:ff
    altname enp3s0
    inet 172.19.0.102/16 brd 172.19.255.255 scope global noprefixroute eth0
       valid_lft forever preferred_lft forever
    inet6 fc00:f853:ccd:e793::140/128 scope global noprefixroute
       valid_lft forever preferred_lft forever
    inet6 fe80::8ed1:79b8:1ae6:ded/64 scope link noprefixroute
       valid_lft forever preferred_lft forever

```

in virt launch pod
```
bash-5.1$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: tunl0@NONE: <NOARP> mtu 1480 qdisc noop state DOWN group default qlen 1000
    link/ipip 0.0.0.0 brd 0.0.0.0
3: eth0@if13: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default
    link/ether 7a:64:93:ee:de:a3 brd ff:ff:ff:ff:ff:ff link-netnsid 0
    inet 172.19.0.102/16 brd 172.19.255.255 scope global eth0
       valid_lft forever preferred_lft forever
    inet6 fc00:f853:ccd:e793::140/64 scope global
       valid_lft forever preferred_lft forever
    inet6 fe80::7864:93ff:feee:dea3/64 scope link
       valid_lft forever preferred_lft forever
4: veth0@if21: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default
    link/ether be:ee:2d:a7:37:01 brd ff:ff:ff:ff:ff:ff link-netnsid 0
    inet6 fe80::bcee:2dff:fea7:3701/64 scope link
       valid_lft forever preferred_lft forever

bash-5.1$ ip -6 r
fc00:f853:ccd:e793::2 dev veth0 metric 1024 pref medium
fc00:f853:ccd:e793::/64 dev eth0 proto kernel metric 256 pref medium
fd33::5ef8:8f6e:729b:2fc0 dev veth0 metric 1024 pref medium
fd33::/64 via fc00:f853:ccd:e793::2 dev veth0 metric 1024 pref medium
fd41::/108 via fc00:f853:ccd:e793::2 dev veth0 metric 1024 pref medium
fe80::/64 dev eth0 proto kernel metric 256 pref medium
fe80::/64 dev veth0 proto kernel metric 256 pref medium
default via fc00:f853:ccd:e793::3 dev eth0 metric 1024 pref medium

```

It seems that the RA was ignored by the client for some reason.
Can you please attach the journal of the guest.

the previous VM has been restarted , I attach information of another VMI with same issue

launcher pod details
```
$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: tunl0@NONE: <NOARP> mtu 1480 qdisc noop state DOWN group default qlen 1000
    link/ipip 0.0.0.0 brd 0.0.0.0
3: eth0@if13: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default
    link/ether 26:ac:ad:91:76:96 brd ff:ff:ff:ff:ff:ff link-netnsid 0
    inet 172.19.0.101/16 brd 172.19.255.255 scope global eth0
       valid_lft forever preferred_lft forever
    inet6 fc00:f853:ccd:e793::12f/64 scope global
       valid_lft forever preferred_lft forever
    inet6 fe80::24ac:adff:fe91:7696/64 scope link
       valid_lft forever preferred_lft forever
4: veth0@if22: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default
    link/ether 5a:8c:8e:85:2e:b0 brd ff:ff:ff:ff:ff:ff link-netnsid 0
    inet6 fe80::588c:8eff:fe85:2eb0/64 scope link
       valid_lft forever preferred_lft forever
```

VM details
```
[fedora@vm-passthrough-macvlan2 ~]$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 65520 qdisc fq_codel state UP group default qlen 1000
    link/ether 52:54:00:12:34:56 brd ff:ff:ff:ff:ff:ff
    altname enp3s0
    inet 172.19.0.101/16 brd 172.19.255.255 scope global noprefixroute eth0
       valid_lft forever preferred_lft forever
    inet6 fe80::5054:ff:fe12:3456/64 scope link
       valid_lft forever preferred_lft forever
[fedora@vm-passthrough-macvlan2 ~]$
[fedora@vm-passthrough-macvlan2 ~]$ ip -6 r
::1 dev lo proto kernel metric 256 pref medium
fe80::/64 dev eth0 proto kernel metric 256 pref medium
```


here is journctl log of guest vm : [log.txt](https://github.com/kubevirt/kubevirt/files/12314682/log.txt)


BTW, I found another detail:
at the first minutes after VM is ready, the VM could get the right IPv6 address, but after a moment , it will disappear

```
[fedora@vm-passthrough-macvlan2 ~]$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 65520 qdisc fq_codel state UP group default qlen 1000
    link/ether 52:54:00:12:34:56 brd ff:ff:ff:ff:ff:ff
    altname enp3s0
    inet 172.19.0.105/16 brd 172.19.255.255 scope global noprefixroute eth0
       valid_lft forever preferred_lft forever
    inet6 fc00:f853:ccd:e793:5054:ff:fe12:3456/64 scope global dynamic mngtmpaddr
       valid_lft 3453sec preferred_lft 3453sec
    inet6 fe80::5054:ff:fe12:3456/64 scope link
       valid_lft forever preferred_lft forever

[fedora@vm-passthrough-macvlan1 ~]$ sudo NetworkManager --version
1.22.10-1.fc32

[fedora@vm-passthrough-macvlan1 ~]$ nmcli  device show eth0
GENERAL.DEVICE:                         eth0
GENERAL.TYPE:                           ethernet
GENERAL.HWADDR:                         52:54:00:12:34:56
GENERAL.MTU:                            65520
GENERAL.STATE:                          100 (connected)
GENERAL.CONNECTION:                     System eth0
GENERAL.CON-PATH:                       /org/freedesktop/NetworkManager/ActiveC>
WIRED-PROPERTIES.CARRIER:               on
IP4.ADDRESS[1]:                         172.19.0.105/16
IP4.GATEWAY:                            172.19.0.2
IP4.ROUTE[1]:                           dst = 0.0.0.0/0, nh = 172.19.0.2, mt = >
IP4.ROUTE[2]:                           dst = 172.19.0.0/16, nh = 0.0.0.0, mt =>
IP4.DNS[1]:                             172.41.0.10
IP6.ADDRESS[1]:                         fc00:f853:ccd:e793:5054:ff:fe12:3456/64
IP6.ADDRESS[2]:                         fe80::5054:ff:fe12:3456/64
IP6.GATEWAY:                            fe80::58e6:c3ff:fecb:eea8
IP6.ROUTE[1]:                           dst = ff00::/8, nh = ::, mt = 256, tabl>
IP6.ROUTE[2]:                           dst = fe80::/64, nh = ::, mt = 256
IP6.ROUTE[3]:                           dst = ::/0, nh = fe80::58e6:c3ff:fecb:e>
IP6.ROUTE[4]:                           dst = fc00:f853:ccd:e793::/64, nh = ::,>

```

the valid_lft of ipv4 address is forever, but the the valid_lft of ipv6 address is 3453sec. When valid_lft comes to 0 , the ipv6 address will  disappear and never show up again

ipv6.method of the connection is 'ignore' by default. if i set ipv6.method=auto , it will get a forever ipv6 address with 128 subnet length

```
[fedora@vm-passthrough-macvlan2 ~]$ ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 65520 qdisc fq_codel state UP group default qlen 1000
    link/ether 52:54:00:12:34:56 brd ff:ff:ff:ff:ff:ff
    altname enp3s0
    inet 172.19.0.114/16 brd 172.19.255.255 scope global noprefixroute eth0
       valid_lft forever preferred_lft forever
    inet6 fc00:f853:ccd:e793::118/128 scope global noprefixroute
       valid_lft forever preferred_lft forever
    inet6 fc00:f853:ccd:e793:4936:93d1:8025:c348/64 scope global dynamic noprefixroute
       valid_lft 3588sec preferred_lft 3588sec
    inet6 fe80::1bad:9ebb:1b37:b970/64 scope link noprefixroute
       valid_lft forever preferred_lft forever
```

/assign @AlonaKaplan 

@sbrivio-rh shouldn't passt resend the routing info after the ttl expires?

> but in my cluster with kubevirt v1.0.0 and dual-stack CNI, the VM with passt interface does not assign the ipv6 address
>
> [...]
>
> the default connection set ipv6.method to be ignore.

This is expected -- `ignore` configures NetworkManager to ignore router advertisements.

> does it need to turn on dhcp for the connection ?

Not necessarily, you should set it to `auto` to get routes and an address with the same prefix as the one from the host via SLAAC.

> I turn on the dhcp and the interface got wrong CIDR length , fc00:f853:ccd:e793::140/128

passt always assigns /128 addresses via DHCPv6, that's expected: we don't do prefix delegation, so we should assign exactly that address, and it needs to have priority over addresses assigned via SLAAC (which you can enable with `auto` instead).

> @sbrivio-rh shouldn't passt resend the routing info after the ttl expires?

passt will send routing information via NDP on router solicitations, but if NetworkManager is not configured to accept them, this information will be ignored.

that sounds not reasonable.

firstly, the subnet length of pod interface is assigned by CNI plugin, why passt case modify ipv6 subnet length it to 128, that is not passthough effect. However, it just keep the ipv4 subnet length not modified. there is difference between ipv4 and ipv6 

sencodly, when lauching the vm, the ipv6.method=ignore, why the interface could get an IPv6 address fc00:f853:ccd:e793::140/64 same with pod interface, but the later dhcp renew get fc00:f853:ccd:e793::140/128 



> passt will send routing information via NDP on router solicitations, but if NetworkManager is not configured to accept them, this information will be ignored.

Isn't the kernel reacting to these messages by default? NM runs its own implementation if enabled to do so (not in ignore mode).

> the subnet length of pod interface is assigned by CNI plugin, why passt case modify ipv6 subnet length it to 128, that is not passthough effect.

If the guest learns about the gateway through RA, it will always have 128 as the subnet.
If the guest learns about the gateway through DHCPv6, it may set it to fit the address allocation information which has a subnet.

> when lauching the vm, the ipv6.method=ignore, strangely , the interface could get an 64-length IPv6 address

You see this on the guest or on the VMI status?
If there is no DHCPv6 client, there is no way to know about the subnet per what I know.

> firstly, the subnet length of pod interface is assigned by CNI plugin, passt case make ipv6 subnet length to be 128

That's unrelated to passt -- it's how DHCPv6 works (see RFC 8415).

In particular, note that the "Identity Association for Non-temporary Addresses Option" (section 21.4) has no field or suboption describing the prefix length: a DHCPv6 server assigns a specific address, and a DHCPv6 client will configure that address with 128 bits of prefix length, because it's a single address that's being assigned.

Sure, one could do prefix delegation with DHCPv6 (see section 21.21) but that's a different functionality. See also e.g. https://serverfault.com/questions/918472/why-is-a-128-ipv6-address-assigned-via-dhcpv6-in-ubuntu

> However, it just keep the ipv4 subnet length not modified. there is difference between ipv4 and ipv6.

Indeed, DHCP has a subnet option (RFC 2132, section 3.3) but there's no equivalent in DHCPv6, for a simple reason: with IPv6, a subnet (not to be confused with a _prefix length_) is always identified by 64 bits.

> This ipv6 behavior makes VM fail to directly access the underlay nework when underlay CNI such as antrea kube-ovn macvlan

Indeed, because DHCPv6 doesn't carry routing information -- you need NDP for that. Again, the NetworkManager `method` setting you want is `auto`. See also the discussion around this [issue](https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/issues/1021).

> secocdly, when lauching the vm, the ipv6.method=ignore, strangely , the interface could get an 64-length IPv6 address

You get `fe80::5054:ff:fe12:3456/64` which is a link-local address (and _not_ `fc00:f853:ccd:e793::140/64` as you wrote in the previous version of this comment -- *that* would be surprising!).

> > passt will send routing information via NDP on router solicitations, but if NetworkManager is not configured to accept them, this information will be ignored.
> 
> Isn't the kernel reacting to these messages by default? NM runs its own implementation if enabled to do so (not in ignore mode).

By default, yes, but NetworkManager will set the `accept_ra` sysctl parameter to 0 for a specific interface if `method` is set to `ignore`. If you don't want NetworkManager to interfere with the interface at all and let the kernel handle it, the interface needs to be added to the `unmanaged-devices` set (this is different from `ignore`).

> If the guest learns about the gateway through RA, it will always have 128 as the subnet.

Not really, NDP allows specifying a prefix length (RFC 4861, section 4.6.2) and that's what the NDP implementation in passt does -- it will inherit the prefix length from the corresponding address on the host.

> If the guest learns about the gateway through DHCPv6, it may set it to fit the address allocation information which has a subnet.

That only applies to Prefix Delegation (but then you would need to configure NetworkManager accordingly, and passt doesn't support the feature anyway).

> You see this on the guest or on the VMI status? If there is no DHCPv6 client, there is no way to know about the subnet per what I know.

By the way, IPv6 (not v4-mapped) subnets are *always* described by 64 bits, see [RFC 5375, section 3](https://datatracker.ietf.org/doc/html/rfc5375#section-3).

Also have a look at: https://networkmanager.pages.freedesktop.org/NetworkManager/NetworkManager/nm-settings-nmcli.html#nm-settings-nmcli.property.ipv6.method -- I hope this helps.

> > firstly, the subnet length of pod interface is assigned by CNI plugin, passt case make ipv6 subnet length to be 128
> 
> That's unrelated to passt -- it's how DHCPv6 works (see RFC 8415).
> 
> In particular, note that the "Identity Association for Non-temporary Addresses Option" (section 21.4) has no field or suboption describing the prefix length: a DHCPv6 server assigns a specific address, and a DHCPv6 client will configure that address with 128 bits of prefix length, because it's a single address that's being assigned.
> 
> Sure, one could do prefix delegation with DHCPv6 (see section 21.21) but that's a different functionality. See also e.g. https://serverfault.com/questions/918472/why-is-a-128-ipv6-address-assigned-via-dhcpv6-in-ubuntu
> 
> > However, it just keep the ipv4 subnet length not modified. there is difference between ipv4 and ipv6.
> 
> Indeed, DHCP has a subnet option (RFC 2132, section 3.3) but there's no equivalent in DHCPv6, for a simple reason: with IPv6, a subnet (not to be confused with a _prefix length_) is always identified by 64 bits.
> 
> > This ipv6 behavior makes VM fail to directly access the underlay nework when underlay CNI such as antrea kube-ovn macvlan
> 
> Indeed, because DHCPv6 doesn't carry routing information -- you need NDP for that. Again, the NetworkManager `method` setting you want is `auto`. See also the discussion around this [issue](https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/issues/1021).
> 
> > secocdly, when lauching the vm, the ipv6.method=ignore, strangely , the interface could get an 64-length IPv6 address
> 
> You get `fe80::5054:ff:fe12:3456/64` which is a link-local address (and _not_ `fc00:f853:ccd:e793::140/64` as you wrote in the previous version of this comment -- _that_ would be surprising!).
> 
> > > passt will send routing information via NDP on router solicitations, but if NetworkManager is not configured to accept them, this information will be ignored.
> > 
> > 
> > Isn't the kernel reacting to these messages by default? NM runs its own implementation if enabled to do so (not in ignore mode).
> 
> By default, yes, but NetworkManager will set the `accept_ra` sysctl parameter to 0 for a specific interface if `method` is set to `ignore`. If you don't want NetworkManager to interfere with the interface at all and let the kernel handle it, the interface needs to be added to the `unmanaged-devices` set (this is different from `ignore`).
> 
> > If the guest learns about the gateway through RA, it will always have 128 as the subnet.
> 
> Not really, NDP allows specifying a prefix length (RFC 4861, section 4.6.2) and that's what the NDP implementation in passt does -- it will inherit the prefix length from the corresponding address on the host.
> 
> > If the guest learns about the gateway through DHCPv6, it may set it to fit the address allocation information which has a subnet.
> 
> That only applies to Prefix Delegation (but then you would need to configure NetworkManager accordingly, and passt doesn't support the feature anyway).

that is great, and easy to understand the detail
many thanks

If there is no further statement, I will close the issue