Invalid search domain validation regex for domain names with 253 characters

<!-- This form is for bug reports and feature requests ONLY!
Also make sure that you visit our User Guide at https://kubevirt.io/user-guide/
-->

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Our search domain validation regex is incorrect on (at least) a corner case; the [test asserting a domain name with 253 characters as valid](https://github.com/kubevirt/kubevirt/blob/236eb73ed2af4d698ab943fd4340bda9747757eb/pkg/network/dhcp/server/server_test.go#L170) is actually checking the regex matching operation **fails**, rather than succeeds.

We need clarification is the search domains can start with `_` or with digits; according to [DNS RFC 1035, section 2.3.1](https://datatracker.ietf.org/doc/html/rfc1035#section-2.3.1), they can't.

**What you expected to happen**:
The test - when re-written correctly to `Expect(isValidSearchDomain(string(b))).To(BeTrue())` should pass.

Depending on whether or not underscores and digits are allowed in the beginning of the domain names, new unit tests should be added.



/cc @mlsorensen 

This is was a typo, right ? 


Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

/remove-lifecycle stale

Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

@kubevirt-bot: Closing this issue.

<details>

In response to [this](https://github.com/kubevirt/kubevirt/issues/6469#issuecomment-1140482531):

>Rotten issues close after 30d of inactivity.
>Reopen the issue with `/reopen`.
>Mark the issue as fresh with `/remove-lifecycle rotten`.
>
>/close


Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https://github.com/kubernetes/test-infra/issues/new?title=Prow%20issue:) repository.
</details>